@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  color:#ffffff;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  padding: 7px 15px 6px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24px;
}

.button:hover {
  background-color: #68A2CA;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.button:focus:not(:active) {
  outline: 3px solid #615048;
  outline-offset: 0;
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.button-secondary:focus:not(:active) {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.button-large {
  font-size: 20px;
  border-radius: 10px;
}

.button-success {
  background-color: #7db54f;
}

.button-success:hover {
  background-color: #6c9e42;
}

.button-success:active {
  background-color: #6c9e42;
}

.button-success:focus:not(:active) {
  background-color: #6c9e42;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  width: 140px;
  position: relative;
  z-index: 1;
  margin-right: 30px;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 650px;
  list-style-type: none;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 17px;
  font-family: "PT sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link:hover:not(.navigation-link-current) {
  color: #756257;
}

.navigation-link:active:not(.navigation-link-current) {
  opacity: 0.3;
}

.navigation-link-current::after {
  content: "";
  position:absolute;
  height: 2px;
  right: 17px;
  left: 17px;
  bottom: -3px;
  background-color: #000000;

}

.navigation-user {
  max-width: 324px;
  justify-content: flex-end;
}

.navigation-user-link {
  position: relative;
  display: block;
  padding: 21px;
  text-decoration: none;
}

.navigation-link .navigation-user {
  min-width: 18px;
  min-height: 17px;
}

.icon-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.icon-button-counter {
  position: absolute;
  min-width: 20px;
  height: 20px;

  color:#ffffff;
  background-color: #7DB54F;
  border-radius: 50%;

  line-height: 20px;
  font-size: 10px;
  font-family: "PT sans", sans-serif;
  text-align: center;

  top: 5px;
  right: -3px;
}

.navigation-user-link:hover .icon-button{
  fill: #756257;
}

.navigation-user-link:active .icon-button{
  opacity: 0.3;
}

.additional-menu-button {
  width: 160px;
  margin-left: 20px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  min-height: 485px;
  background-size:
    auto auto,
    100% auto,
    cover;
  background-position:
    50% calc(50% - 16px),
    50% 100%,
    50% 50%;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  background-image: url(../images/welcome.svg),
                    url(../images/index-divider.png),
                    url(../images/index-background.jpg);
}

.section-title {
  font-family: "PT sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.section-description {
  font-family: "PT sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.advantages {
  text-align: center;
}

.advantages-content {
  padding: 62px 240px 87px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  counter-reset: advantages;
}

.advantages-item {
  display: grid;
  gap: 30px;
  min-height: 384px;

  background: rgba(131, 179, 211, 0.12);

  counter-increment: advantages;
}

.advantages-item-large {
  color:#ffffff;
  background-color: #83B3D3;
  grid-column: 1 / -1;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-container {
  display: grid;
  align-content: start;
  gap: 26px;
  padding: 60px;
  min-height: 384px;
  padding-top: 98px;
}

.advantages-item-container::before {
  content: "— №" counter(advantages) " —";
}

.advantages-list-inner {
  color: #333333;
  background-color: #ffffff;
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item-inner {
  display: grid;
  align-content: start;
  gap: 20px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
  padding: 60px;
  padding-top: 184px;

  background-repeat: no-repeat;
  background-position: 50% 89px;
}

.advantages-item-inner:nth-child(even) {
  background-color: #ffffff;
}

.advantages-title {
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-large .advantages-title {
  color:#ffffff;
}

.advantages-item-inner .advantages-title {
  color:#000000;
}

.advantages-item-container .advantages-title {
  order: -1;
}

.advantages-item-inner-home {
  background-image: url(../images/main-icon/icon-1.svg);
  background-size: 75px 72px;
}

.advantages-item-inner-food {
  background-image: url(../images/main-icon/icon-2.svg);
  background-size: 74px 70px;
}

.advantages-item-inner-present {
  background-image: url(../images/main-icon/icon-3.svg);
  background-size: 68px 76px;
}

.advantages-pic {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

.advantages-item-large:nth-child(2) .advantages-pic {
  order: -1;
}

.advantages-text {
  margin: 0;
  line-height: 21px;
}

.search-hotel {
  text-align: center;
  padding: 90px 240px;
}

.search-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color:#000000;
  text-transform:uppercase;
}

.search-hotel-text {
  font-size: 22px;
  line-height: 26px;
  color:#333333;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  display: flex;
  list-style-type: none;
}


.search-button {
  margin: 34px 73px 0;
  padding: 18px 0;
  width: 575px;
}

.breadcrumbs-item {
  font-size: 16px;
}

.breadcrumbs-item-link {
  padding: 3px 8px;
  border-radius: 4px;
}

.breadcrumbs-item-home {
  width: 28px;
  height: 27px;
}

.search-icon-button {
  fill: #ffffff;
}

.breadcrumbs-item-link:hover .search-icon-button {
  opacity: 0.6;
}

.breadcrumbs-item-link:active .search-icon-button {
  opacity: 0.3;
}

.breadcrumbs-item-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 10px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  background: url(../images/nav-link.svg);
  background-repeat: no-repeat;
  top: 6px;
  left: -7px;
  width: 5px;
  height: 8px;
}

.search-hotel-home {
  position: absolute;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  width: 200px;
  margin-right: 17px;
}

.hotel-filter-price {
  width: 287px;
  margin-left: 95px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 64px;
}

.hotel-filter {
  display: flex;
  width: 1050px;
  margin: 0 auto;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-sorting {
  padding: 0 72px;
}

.catalog-sort {
  display: grid;
  grid-template-columns: 1fr 287px max-content;
  align-items: center;
  gap: 80px;
  padding: 44px 0;
}

.sorting-result {
  margin: 0;
}

.catalog-select{
  position: relative;
  z-index: 1;
}

.sorting-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 10px 18px;
  padding-right: 0;
  color: #333333;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-button::-webkit-details-marker {
  display: none;
}

.sorting-button::after {
  content: "";
  background-image: url(../images/variant=arrow.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.sorting-button:hover {
  border-color: #83B3D3;
}

.sorting-button:active {
  opacity: 0.3;
}

.sorting-button:focus {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.catalog-select[open] .sorting-button::after {
  transform: rotate(180deg);
}

.sorting-button-list {
  position:absolute;
  margin: 0;
  padding: 10px 0;
  top: 100%;
  right: 0;
  left: 0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  list-style-type: none;
}

.sorting-button-link {
  display: block;
  padding: 8px 20px;

  color: #333333;

  text-decoration: none;
}

.sorting-button-link-active {
  background-color: #e6e6e6;
}

.sorting-button-link:hover:not(.sorting-button-link-active) {
  background-color: #f2f2f2;
}

.view-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.view-link-card {
  background: url(../images/variant=tile.svg);
}

.view-link-slider {
  background: url(../images/variant=slideshow.svg);
}

.view-link-list {
  background: url(../images/variant=list.svg);
}

.view-link {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.view-link:hover {
  border-color: #83B3D3;
}

.view-link:active {
  border-color: #000000;
}

.view-link:focus:not(:active) {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.view-item-active .view-link {
  border-color: #000000;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  list-style-type: none;
}

.hotel-card-item {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 26px 1fr;
  grid-template-rows: 206px;
  row-gap: 16px;
  grid-template-areas:
    "img img img"
    "title title title"
    "description description description"
    "button-more . button-chosen"
    "stars rate rate";
  padding: 20px;
  z-index: 0;
}

.hotel-card-link {
  grid-area: title;
  color:#000000;
  text-decoration: none;
}

.hotel-card-link:focus {
  outline: none;
}

.hotel-card-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 160px;
  z-index: 1;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  margin: 0;
}

.hotel-card-photo {
  grid-area: img;
  width: 100%;
  height: auto;
  object-fit: cover;
  order: -1;
}

.hotel-card-link:hover + .hotel-card-photo {
  opacity: 0.6;
}

.hotel-card-link:active + .hotel-card-photo {
  opacity: 0.3;
}

.hotel-card-link:focus + .hotel-card-photo {
  outline: 2px solid #83B3D3;
}

.hotel-card-description {
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin: 0;
}

.card-more {
  grid-area: button-more;
}

.card-chosen {
  grid-area: button-chosen;
}

.rating-star {
  grid-area: stars;
  align-self: start;
}

.star {
  margin: 0;
  height: 37px;
  background: url(../images/Star.svg);
  background-size: 23px 17px;
  background-repeat: repeat-x;
  background-position: 0 50%;
}

.star-four {
  width: 93px;
}

.star-three {
  width: 68px;
}

.star-two {
  width: 43px;
}

.rating-middle {
  grid-area: rate;
  align-items: end;
  text-transform: uppercase;
  margin: 0;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.pagination-button {
  min-width: 620px;
  padding: 17px 0;
  border-radius: 4px;
  border: none;
}

.pagination-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.pagination-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}
.pagination-item {
  margin-right: 8px;
}

.pagination-item-action .pagination-link {
  color: #000000;
  background-color: #e6e6e6;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  height: 55px;


  color: #ffffff;
  background-color: #83B3D3;

  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-item:not(.pagination-item-action) .pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-item:not(.pagination-item-action) .pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.pagination-item:not(.pagination-item-action):not(:active) .pagination-link:focus {
  outline: 3px solid #756257;
}

.pagination-select {
  display: flex;
  align-items: center;
}

.pagination-label {
  margin: 0;
  margin-right: 50px;
}

.select {
  position:relative;
  z-index: 1;
}

.pagination-select .select {
  min-width: 160px;
}

.select-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  justify-content: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 12px 17px;
  padding-right: 0;
}

.select-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  border-radius: 4px;
}

.select-option {
  display: inline-block;
  padding: 8px 20px;
  color:#333333;
  text-decoration: none;
}

.select-button::after {
  content: "";
  background-image: url(../images/variant=arrow.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.select-option-active {
  background-color: #e6e6e6;
}

.select-button:hover {
  border-color:#83B3D3;
}

.select-button:active {
  opacity: 0.3;
}

.select-button:focus:not(:active) {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}

.select-item:hover {
  background-color: #f2f2f2;
}

.maling {
  padding: 43px 200px 0;
  color: #000000;
  text-align: center;
}

.maling-main {
  padding: 94px 200px;
  color:#ffffff;
  background-size: cover;
  background-color: #83B3D3;
  background-image: url(../images/futer-background.jpg);

}

.maling-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.maling-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.news-maling-form {
  margin: 48px 0 0;
}

.news-maling {
  display: grid;
  grid-template-columns: 1fr 200px;

  margin: 0;
  padding: 0;
  width: 100%;
}


.field {
  width: 100%;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 10px 0 0 10px;
  padding: 19px 19px;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  outline: 3px solid #615048;
  outline-offset: 0;
}

.news-maling-button {
  border-radius: 0 10px 10px 0;
}

.main-header {
  padding: 35px 72px 80px;
  color: #ffffff;
  background-color: #83B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/catalog-background.jpg);
}

.search-hotel-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  color:#ffffff;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.filter-label {
  line-height: 23px;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.range {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.range-label {
  display: grid;
  grid-template-columns: 1fr 44px;
}

.range-input {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  color: #ffffff;
  background-color: transparent;
  font-size: 18px;
  font-family: inherit;
}

.range-title {
  opacity: 0.3;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.range-slider {
  grid-column: 1 / -1;
}

.filter-reset {
  color: #ffffff;
  background-color: transparent;
  font-size: 18px;
}

.sorting-result {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 40px 72px;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

.footer-social-item {
  width: 36px;
  height: 30px;
  margin-right: 8px;
  margin-bottom: 8px;
  place-content: center;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  padding: 10px;
  border-radius: 4px;
}

.footer-social-pic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#83B3D3;
}

.footer-social-link:hover .footer-social-pic {
  fill:#68A2CA;
}

.footer-social-link:active .footer-social-pic,
.footer-number-address-tel:active {
  opacity: 0.3;
}

.footer-social-link:focus:not(:active),
.footer-number-address-tel:focus:not(:active),
.footer-sponsor-logo-link:focus:not(:active) {
  outline: 3px solid #83B3D3;
}

.footer-number-address-tel {
  color:#000000;
  font-size: 40px;
  line-height: 40px;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
}

.footer-sponsor-logo-link {
  border-radius: 4px;
  padding: 15px;
}

.footer-number-address-tel:hover {
  color: #615048;
}

.footer-sponsor-logo-pic:hover {
  fill: #615048;
}

.footer-sponsor-logo-pic:active {
  fill: rgba(97, 80, 72, 0.3);
}
